<!doctype html>
<html>
  <head>
    <header>
      <h1>Your username is {{username}}.</h1>
    <nav>
      <ul>
        <li class="nav-item1">
          <a href="./">Log In</a></li>
        <li class="nav-item2">
          <a href="./login-create">Create Login</a></li>
        <li class="nav-item3">
          <a href="./gabble-create">Create Gabble</a></li>
          <li class="nav-item4">
            <a href="./">Logout</a></li>
      </ul>
    </nav>
  </header>
  </head>
    <body>
      <h1>GABBLE!!!</h1>
      <h1>Welcome {{username}}!<h1>
      <h3>Use the below form to create a new entry:</h3>
      <form class="" action="/entries" method="post">
        <input type="text" name="title" value="" placeholder="Gabble Title">
        <input type="text" name="entry" value="" placeholder="Gabble Entry">
        <input type="date" name="date" value="" placeholder="Date">
        <button type="submit" name="button">Submit Entry</button>
      </form>
      <h3>Gabbles</h3>
      <ul>
        {{#entry}}
        <form class="likeForm" method="POST" action= "/likes">
            <input type="submit" name="likeButton" value="{{userId}}"> LIKE </input>
        </form>
        <li class="title">Gab Title: {{title}}</li>
        <li class="entry">Gab Entry: {{entry}}</li>
        <li class="date">Gab Date: {{date}}</li>
        <li class="userId">Gab User: {{username}}</li>
        <br>
      </ul>
      {{/entry}}

    </body>
</html>
