<!doctype html>
<html>
  <head>
  </head>
    <body>
      <h1>Welcome to GABBLE!!!</h1>
      <h2>Make a selection below:</h2>
          <div class="form__submit-button">
              <input type="submit">
      <ul>
        {{#users}}
        <li>{{username}}</li>
        {{/users}}
      </ul>
    </body>
</html>
