<!doctype html>
<html>
  <head>
    <header>
    <nav>
      <ul>
        <li class="nav-item1">
          <a href="./">Log In</a></li>
        <li class="nav-item2">
          <a href="./login-create">Create Login</a></li>
        <li class="nav-item3">
          <a href="./gabble-create">Create Gabble</a></li>
          <li class="nav-item4">
            <a href="./">Logout</a></li>
      </ul>
    </nav>
  </header>
  </head>
    <body>
      <h1>Welcome to GABBLE!!!</h1>
      <h2>Make a selection below:</h2>
          <div class="form__submit-button">
              <input type="submit">
      <ul>
        {{#users}}
        <li>{{username}}</li>
        {{/users}}
      </ul>
    </body>
</html>
