<!doctype html>
<html>
  <head>
    <header>
    <nav>
      <ul>
        <li class="nav-item1">
          <a href="./">Log In</a></li>
        <li class="nav-item2">
          <a href="./login-create">Create Login</a></li>
        <li class="nav-item3">
          <a href="./gabble-create">Create Gabble</a></li>
      </ul>
    </nav>
  </header>
  </head>
    <body>
      <h1>GABBLE!!!</h1>
      <h2>Log In Create</h2>
      <h3>You have entered an invalid userID or password, please create a new userID or go back to try again.<h3>
      <h3>Use the below form to create a username and password:</h3>
      <form class="" action="/users" method="post">
        <input type="text" name="username" value="" placeholder="username">
        <input type="text" name="password" value="" placeholder="password">

        <button type="submit" name="button">Create User</button>
      </form>
      <h3>Users</h3>
      <ul>
        {{#users}}
          <li>{{username}}</li>
        {{/users}}
      </ul>
    </body>
</html>
