
<!doctype html>
<html>
  <head>
    <nav>
      <ul>
        <li class="nav-item1">
          <a href="./">Log In</a></li>
        <li class="nav-item2">
          <a href="./login-create">Create Login</a></li>
        <li class="nav-item3">
          <a href="./gabble-create">Create Gabble</a></li>
          <li class="nav-item4">
            <a href="./">Logout</a></li>
      </ul>
    </nav>
  </head>
    <body>
<h1>Welcome to Gabble {{username}}!</h1>
    </body>
</html>
